@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body[data-theme='light'] {
  background: var(--colors-bg) url('./assets/images/bg-desktop-light.jpg') top no-repeat;
  background-size: 100% auto;
}
body[data-theme='dark'] {
  background: var(--colors-bg) url('./assets/images/bg-desktop-dark.jpg') top no-repeat;
  background-size: 100% auto;
}
body[data-theme='light'] {
  --colors-text: hsl(235, 19%, 35%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 98%);
  --shadow: rgb(53, 48, 48) 0 0 8px;
}

body[data-theme='dark'] {
  --colors-text: hsl(234, 39%, 85%);
  --colors-bg: hsl(235, 21%, 11%);
  --colors-ui-base: hsl(235, 24%, 19%);
  --shadow: rgb(53, 48, 48) 0 0 8px;
}

:root {
  /*Typography*/
  --colors-gradient: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --family: 'Josefin Sans', sans-serif;
  --fs: 18px;
  --fw-bold: 700;
  --fw-normal: 400;
  --radius: 0.3rem;
}

body {
  transition: all 0.2s linear;
  margin: 0;
  min-height: 100vh;
  color: var(--colors-text);
  font-family: var(--family);
  font-weight: var(--fw-light);
  font-size: var(--fs);
  background-color: var(--colors-bg);
}

@media (max-width: 768px) {
  body[data-theme='light'] {
    background: var(--colors-bg) url('./assets/images/bg-mobile-light.jpg') top no-repeat;
    background-size: 100% auto;
  }
  body[data-theme='dark'] {
    background: var(--colors-bg) url('./assets/images/bg-mobile-dark.jpg') top no-repeat;
    background-size: 100% auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

/*Reset styles*/
input {
  font-family: inherit;
  font-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
